.app-card{
  
  height: 400px;
  width: 250px;

  overflow: hidden;

  border-radius: 6px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.6);

  margin: 10px 25px;

  cursor: pointer;

  transition: all;
  transition-duration: 0.1s;
}

.app-card:hover{
    height: 410px;
    width: 260px;
}

.img{
    background-color: rgba(0, 0, 0, 0.2);
    height: 50%;
    width: 100%;
}

.img > img{
    height: 100%;
    width: 100%;
}

.nome_produto{
    height: 10%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    font-weight: bold;
    text-align: center;
}

.desc{
    height: 15%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.1);

    font-size: smaller;
    padding: 5px;

    display: flex;
}
.desc > p{
    color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.preco{
    height: 5%;
    width: 100%;

    text-align: center;

    padding: 5px;
}
.preco > strong{
    color: rgba(0, 0, 0, 0.8);
}

.acao{
    height: 20%;
    width: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.acao > button{
    border: none;
    outline: none;

    border-radius: 3px;
    padding: 10px;

    font-weight: bold;

    margin-top: 5px;

    color: whitesmoke;
    cursor: pointer;
    background: linear-gradient(63deg, rgba(0, 0, 0, 0.7) 45%, rgba(0, 0, 0, 0.6) 55%);

    transition: all;
    transition-duration: 0.1s;
}
.acao > button:hover{
    color: goldenrod;
}
