*{
  margin: 0;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  background-color: whitesmoke;

  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
}

.App{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 75vh 5vh;
  grid-template-areas: 
    'component-header component-header'
    'component-main     component-main'
    'component-footer component-footer';
}





